<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpsCrud</title>
    <script src="https://cdn.tailwindcss.com/3.4.3"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav
    class="flex fixed z-50 items-center justify-between w-full h-16 text-white font-medium border-b border-gray-600 border-opacity-25">
  <div class="menu px-1 py-1 text-2xl">
    <i class="ri-menu-2-line"></i>
  </div>
  
    <div class="left flex gap-10">
      <a class="px-1 py-1" href="/">HOME</a>
      <a class="px-1 py-1" href="/api/users">AllUsers</a>
      <a class="px-1 py-1" href="/create/new/user">CreateNewUser</a>
      <a class="px-1 py-1" href="/read/a/user">ReadUser</a>
      <a class="px-1 py-1" href="/update/a/user">UpdateUser</a>
      <a class="px-1 py-1" href="/delete/a/user">DeleteUser</a>
    </div>

    <div class="right flex gap-7 ">
      <a target="_blank" href="https://github.com/Emmraan/api-crud-ops">
          <i class="ri-github-fill text-2xl"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/md-emran-79302b2b1/">
          <i class="ri-linkedin-box-fill text-2xl"></i>
      </a>
    </div>
  </nav>
  <div class="menu-list absolute text-white">
    <div class="menu-child px-3 z-20 py-[16vw] flex flex-col">
      <a class="px-1 py-1" href="/">HOME</a>
      <br />
      <a class="px-1 py-1" href="/api/users">AllUsers</a>
      <br />
      <a class="px-1 py-1" href="/create/new/user">CreateNewUser</a>
      <br />
      <a class="px-1 py-1" href="/read/a/user">ReadUser</a>
      <br />
      <a class="px-1 py-1" href="/update/a/user">UpdateUser</a>
      <br />
      <a class="px-1 py-1" href="/delete/a/user">DeleteUser</a>
    </div>
  </div>

    <div
      class="hero overflow-hidden text-white w-full h-[100vh] flex justify-center bg-slate-950"
    >
      <div class="gooey absolute rounded-full"></div>

      <div
        class="heading relative z-9 w-[100%] h-[100vh] flex flex-col items-center gap-6"
      >
        <h1
          class="text-5xl text-slate-950 px-3 py-2 font-bold bg-white rounded-md"
        >
          Welcome To OPSCRUD!
        </h1>
        <p class="text-base font-medium text-zinc-400 w-[70%]">
          This website contains a RESTful API service for performing CRUD
          <span class="text-pink-400">(Create, Read, Update, Delete)</span>
          operations on JSON data. Built using Express.js,
          <span class="text-cyan-400"
            >it provides a flexible and efficient</span
          >
          solution for managing data through a simple and intuitive interface.
        </p>
        <a href="/create/new/user"
          ><button
            class="started pointer-events-auto py-3 px-5 text-slate-950 bg-white font-medium rounded-md hover:bg-cyan-500 hover:text-slate-950"
          >
            Get Started
          </button></a
        >
      </div>
    </div>

    <footer
    class="w-full flex gap-4 justify-center items-center h-24 bg-slate-950 text-white"
  >
    <p>
      &copy; 2024
      <a href="https://opscrud.onrender.com">opscrud</a>
    </p>
    <div class="footer-link right flex gap-4">
      <a target="_blank" href="https://github.com/Emmraan/api-crud-ops">
        <i class="ri-github-fill text-2xl"></i>
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/md-emran-79302b2b1/"
      >
        <i class="ri-linkedin-box-fill text-2xl"></i>
      </a>
    </div>
  </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
